@page "/todolist"
@using ToDoList_ViewModel.Enums
<PageTitle>ToDoList</PageTitle>
<h3>ToDoList</h3>
<p>Xin chào tới Blazor đầu tiên</p>
@if(Tasks == null || Tasks.Count == 0 || Users == null)
{
    <div class="spinner"></div>
}
else {
   <TaskSearch Onsearch="SearchForm"></TaskSearch>

<div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Assignee
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @item.Name
                        </td>
                        <td><PriorityLabel Priority="@item.Priority"></PriorityLabel></td>
                        <td><a @onclick="() => ShowUserChange(item.Id)" style="text-decoration: underline;cursor: pointer;">@item.AssigneeName</a></td>
                        <td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="@item.Status"></StatusLabel></td>
                        <td><a href="/taskdetail/@item.Id" class="btn btn-primary m-1">Detail</a></td>
                        <td><a href="/taskupdate/@item.Id" class="btn btn-outline-info">Update</a></td>
                        <td><button type="button" class="btn btn-danger" @onclick="()=> OnDelete(item.Id)">Delete</button></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="PageChoose"></Pagination>
            </tfoot>
        </table>
</div>
<DeleteConfirmation @ref="DeleteConfirmation"
    ConfirmationTitle="Delete task"
ConfirmationChanged="OnConfirmDeleteTask"
ConfirmationMessage="Are you sure you want to delete this task">

</DeleteConfirmation>
<ChangeUser @ref="ChangeUser" ChangeUserEvent="OnConfirmationChangeUser">

</ChangeUser>
}

