@page "/todolist"

<PageTitle>ToDoList</PageTitle>
<h3>ToDoList</h3>
<p>Xin chào tới Blazor đầu tiên</p>
@if(Tasks == null || Tasks.Count == 0)
{
    <div class="spinner"></div>
}
else {
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Priority
            </th>
            <th>
                Assignee
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Tasks)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>@item.Priority</td>
                <td>@item.AssigneeName</td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
}

